<h1>ARTICLE PARADISE!</h1>

<table class="table table-striped table-bordered">
  {{#each articles}}
  <tr>
    <td> {{headline}}</td>
    <td> {{summary}}</td>
    <td> {{link}}</td>
    <td>
       {{#each notes}}
        {{title}},
      {{/each}}
    </td>
  </tr>
  
    {{/each}}
</table>