<h1 class="text-center">Article Collection</h1>

{{#each articles}}
<br>
<div class="card" style="">
  <div class="card-body">
    <h5 class="card-title"><a target="_blank" href="{{link}}" class="">{{headline}}<a /></h5>
    <p class="card-text">{{summary}}</p>
    Notes:<br>
    {{#each notes}}
    {{title}}<br>
    {{/each}}
    <hr>
    <form>
      <h6>Add new note</h6>
      <textarea class="form-control"></textarea>
      <br>
      <button class="btn btn-info">Add</button>
    </form>
  </div>
</div>
<br>

{{/each}}